/* Empty. Add your own CSS if you like */

map {
    display: block;
    width: 100%;
    height: 100%;
}
.scroll {
    height: 100%;
}

ion-item.color.picker {
    border:none;
}

.item.color.picker {
    border:none;
}

colorviewer {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #009689 ;
}
